In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('household_power_consumption.csv')

In [3]:
df.head()

,index,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,0,1/1/07,0:00:00,2.58,0.136,241.97,10.6,0,0,0.0
1,1,1/1/07,0:01:00,2.552,0.1,241.75,10.4,0,0,0.0
2,2,1/1/07,0:02:00,2.55,0.1,241.64,10.4,0,0,0.0
3,3,1/1/07,0:03:00,2.55,0.1,241.71,10.4,0,0,0.0
4,4,1/1/07,0:04:00,2.554,0.1,241.98,10.4,0,0,0.0

In [4]:
df.shape

(260640, 10)

In [5]:
df.dropna(inplace = True)

In [6]:
df.drop('index' , axis =1 , inplace = True )

In [7]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,1/1/07,0:00:00,2.58,0.136,241.97,10.6,0,0,0.0
1,1/1/07,0:01:00,2.552,0.1,241.75,10.4,0,0,0.0
2,1/1/07,0:02:00,2.55,0.1,241.64,10.4,0,0,0.0
3,1/1/07,0:03:00,2.55,0.1,241.71,10.4,0,0,0.0
4,1/1/07,0:04:00,2.554,0.1,241.98,10.4,0,0,0.0

In [8]:
df['Time'] = pd.to_datetime(df['Time'])

C:\Users\devra\AppData\Local\Temp\ipykernel_38144\2145562215.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'])

In [9]:
df['second'] = df['Time'].dt.second
df['minute'] = df['Time'].dt.minute
df['hour'] = df['Time'].dt.hour

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\devra\AppData\Local\Temp\ipykernel_38144\2394721818.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])

In [11]:
df['day'] = df['Date'].dt.day
df['month'] = df['Date'].dt.month

In [12]:
df.drop(['Date' , 'Time'] , axis = 1 , inplace = True)

In [13]:
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,second,minute,hour,day,month
0,2.58,0.136,241.97,10.6,0,0,0.0,0,0,0,1,1
1,2.552,0.1,241.75,10.4,0,0,0.0,0,1,0,1,1
2,2.55,0.1,241.64,10.4,0,0,0.0,0,2,0,1,1
3,2.55,0.1,241.71,10.4,0,0,0.0,0,3,0,1,1
4,2.554,0.1,241.98,10.4,0,0,0.0,0,4,0,1,1

In [14]:
df['month'].value_counts().sort_index()

month
1     35997
2     31678
3     35999
4     30837
5     36000
6     34556
7      8640
8      8640
9      8602
10     8640
11     8640
12     8640
Name: count, dtype: int64

In [15]:
df.columns = ['Global_active_power', 'Global_reactive_power', 'Voltage',
       'Global_intensity', 'kitchen', 'laundry_room',
       'HVAC', 'second', 'minute', 'hour', 'day', 'month']

In [16]:
df.tail()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,kitchen,laundry_room,HVAC,second,minute,hour,day,month
260635,2.88,0.36,239.01,12,0,0,18.0,0,55,23,30,6
260636,2.892,0.358,238.86,12.2,0,0,17.0,0,56,23,30,6
260637,2.882,0.28,239.05,12,0,0,18.0,0,57,23,30,6
260638,2.66,0.29,238.98,11.2,0,0,18.0,0,58,23,30,6
260639,2.548,0.354,239.25,10.6,0,1,17.0,0,59,23,30,6

In [24]:
df['Global_active_power']  = df['Global_active_power'].astype(float)
df['Global_reactive_power']  = df['Global_reactive_power'].astype(float)
df['Voltage']  = df['Voltage'].astype(float)
df['Global_intensity']  = df['Global_intensity'].astype(float)
df['kitchen']  = df['kitchen'].astype(float)
df['laundry_room']  = df['laundry_room'].astype(float)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 256869 entries, 0 to 260639
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Global_active_power    256869 non-null  float64
 1   Global_reactive_power  256869 non-null  float64
 2   Voltage                256869 non-null  float64
 3   Global_intensity       256869 non-null  float64
 4   kitchen                256869 non-null  float64
 5   laundry_room           256869 non-null  float64
 6   HVAC                   256869 non-null  float64
 7   second                 256869 non-null  int32
 8   minute                 256869 non-null  int32
 9   hour                   256869 non-null  int32
 10  day                    256869 non-null  int32
 11  month                  256869 non-null  int32
dtypes: float64(7), int32(5)
memory usage: 20.6 MB

In [26]:
new_df = df.copy()

In [27]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 256869 entries, 0 to 260639
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Global_active_power    256869 non-null  float64
 1   Global_reactive_power  256869 non-null  float64
 2   Voltage                256869 non-null  float64
 3   Global_intensity       256869 non-null  float64
 4   kitchen                256869 non-null  float64
 5   laundry_room           256869 non-null  float64
 6   HVAC                   256869 non-null  float64
 7   second                 256869 non-null  int32
 8   minute                 256869 non-null  int32
 9   hour                   256869 non-null  int32
 10  day                    256869 non-null  int32
 11  month                  256869 non-null  int32
dtypes: float64(7), int32(5)
memory usage: 20.6 MB

In [30]:
new_df.dropna(inplace = True)

In [31]:
new_df.shape

(256869, 12)

In [33]:
new_df.to_csv('clean_energy_consumption.csv' , index = False)