In [70]:
import pandas as pd

In [71]:
df = pd.read_excel('churn.xlsx')

In [72]:
pd.set_option('display.max_columns' , None)

In [73]:
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [74]:
df.shape

(7043, 33)

In [75]:
df.drop('Churn Reason' , axis = 1 , inplace = True)

In [76]:
new_df  = df.copy()

In [77]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
dtypes: float64(3), int64(6), object(23)
memory usage: 1.7+ MB

In [78]:
new_df.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV'],
      dtype='object')

In [80]:
new_df.columns = ['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip_Code',
       'Lat_Long', 'Latitude', 'Longitude', 'Gender', 'Senior_Citizen',
       'Partner', 'Dependents', 'Tenure_Months', 'Phone_Service',
       'Multiple_Lines', 'Internet_Service', 'Online_Security',
       'Online_Backup', 'Device_Protection', 'Tech_Support', 'Streaming_TV',
       'Streaming_Movies', 'Contract', 'Paperless_Billing', 'Payment_Method',
       'Monthly_Charges', 'Total_Charges', 'Churn_Label', 'Churn_Value',
       'Churn_Score', 'CLTV']

In [ ]:
new_df.head()

,CustomerID,Count,Country,State,City,Zip_Code,Lat_Long,Latitude,Longitude,Gender,Senior_Citizen,Partner,Dependents,Tenure_Months,Phone_Service,Multiple_Lines,Internet_Service,Online_Security,Online_Backup,Device_Protection,Tech_Support,Streaming_TV,Streaming_Movies,Contract,Paperless_Billing,Payment_Method,Monthly_Charges,Total_Charges,Churn_Label,Churn_Value,Churn_Score,CLTV,Churn_Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [81]:
new_df['Contract'].value_counts()
new_df['Contract'] = new_df['Contract'].str.replace('-' , '_').str.replace(' ' , '_')
new_df['Contract'].value_counts()

Contract
Month_to_month    3875
Two_year          1695
One_year          1473
Name: count, dtype: int64

In [82]:
new_df['Payment_Method'].value_counts()
new_df['Payment_Method'] = new_df['Payment_Method'].str.replace('(' , '').str.replace(')' , '').str.replace(' ' , '_')
new_df['Payment_Method'].value_counts()

Payment_Method
Electronic_check           2365
Mailed_check               1612
Bank_transfer_automatic    1544
Credit_card_automatic      1522
Name: count, dtype: int64

In [83]:
new_df['City'].value_counts()
new_df['City'] = new_df['City'].str.replace(' ' , '_')
new_df['City'].value_counts()

City
Los_Angeles       305
San_Diego         150
San_Jose          112
Sacramento        108
San_Francisco     104
                 ...
Healdsburg          4
Jenner              4
Philo               4
Point_Arena         4
Olympic_Valley      4
Name: count, Length: 1129, dtype: int64

In [87]:
new_df['Churn_Value'].value_counts()

Churn_Value
0    5174
1    1869
Name: count, dtype: int64

In [88]:
new_df['Internet_Service'].value_counts().sort_index()

Internet_Service
DSL            2421
Fiber optic    3096
No             1526
Name: count, dtype: int64

In [89]:
new_df['Total_Charges'].value_counts()

Total_Charges
20.2      11
          11
19.75      9
19.65      8
20.05      8
          ..
444.75     1
5459.2     1
295.95     1
394.1      1
6844.5     1
Name: count, Length: 6531, dtype: int64

In [90]:
new_df.dropna(inplace = True)

In [93]:
new_df.drop(['CustomerID'  , 'Lat_Long','Internet_Service', 'Zip_Code' ,'Country' , 'Count'  , 'State' , 'Online_Security' , 'Online_Backup'  ,'Device_Protection' , 'Dependents' , 'Phone_Service' , 'Multiple_Lines' , 'Tech_Support' ,'Streaming_Movies','Streaming_TV' , 'Paperless_Billing' , 'Churn_Label' , 'CLTV','Total_Charges'  ] , axis = 1 , inplace = True)

In [94]:
new_df.head()

,City,Latitude,Longitude,Gender,Senior_Citizen,Partner,Tenure_Months,Contract,Payment_Method,Monthly_Charges,Churn_Value,Churn_Score
0,Los_Angeles,33.964131,-118.272783,Male,No,No,2,Month_to_month,Mailed_check,53.85,1,86
1,Los_Angeles,34.059281,-118.307420,Female,No,No,2,Month_to_month,Electronic_check,70.70,1,67
2,Los_Angeles,34.048013,-118.293953,Female,No,No,8,Month_to_month,Electronic_check,99.65,1,86
3,Los_Angeles,34.062125,-118.315709,Female,No,Yes,28,Month_to_month,Electronic_check,104.80,1,84
4,Los_Angeles,34.039224,-118.266293,Male,No,No,49,Month_to_month,Bank_transfer_automatic,103.70,1,89

In [95]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             7043 non-null   object
 1   Latitude         7043 non-null   float64
 2   Longitude        7043 non-null   float64
 3   Gender           7043 non-null   object
 4   Senior_Citizen   7043 non-null   object
 5   Partner          7043 non-null   object
 6   Tenure_Months    7043 non-null   int64
 7   Contract         7043 non-null   object
 8   Payment_Method   7043 non-null   object
 9   Monthly_Charges  7043 non-null   float64
 10  Churn_Value      7043 non-null   int64
 11  Churn_Score      7043 non-null   int64
dtypes: float64(3), int64(3), object(6)
memory usage: 660.4+ KB

In [96]:
data = new_df.copy()

In [97]:
data.to_csv('model.csv' , index = False)